---
import { EmblaWrap } from '../components/EmblraWrap';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="embla">
			<EmblaWrap client:only />
		</div>
	</main>
</Layout>

<style>
	body {
		color: #fff;
	}
	main {
		display: grid;
		place-items: center;
		height: 100svh;
	}
	.embla {
		width: 50vw;
	}
</style>
